.header {
    text-align: center;
    font-weight: bold;
  }
  
  h1 {
    font-size: 50px;
    color: Aqua;
    background: Indigo;
  }
  .about-me {
    font-size: 20px;
  }
  
  .title {
    font-weight: bold;
  }
  
  body {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1618397746666-63405ce5d015?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1567&q=80');
  }
  
  a {
    color: Indigo;
  }